/* HEADER CSS */


header {

    text-align: center;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    background-position: center;

}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;

}

.overlay h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}

.overlay button:hover {
    cursor: pointer;
}

body {
    background: rgb(115, 189, 227);
    background: linear-gradient(90deg, rgba(115, 189, 227, 1) 11%, rgba(128, 162, 210, 1) 34%, rgba(169, 219, 219, 1) 69%, rgba(65, 139, 212, 1) 89%, rgba(106, 189, 207, 1) 100%, rgba(145, 5, 47, 1) 100%);
    ;
  }
  

/* ORDER FORM CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* body{
  background: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  margin: 5% 0; */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.d-flex {
    display: flex;
    flex-direction: row;
    /* background: #f6f6f6; */
    background: rgb(115, 189, 227);
    background: linear-gradient(90deg, rgba(115, 189, 227, 1) 11%, rgba(128, 162, 210, 1) 34%, rgba(169, 219, 219, 1) 69%, rgba(65, 139, 212, 1) 89%, rgba(106, 189, 207, 1) 100%, rgba(145, 5, 47, 1) 100%);
    ;
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

form {
    flex: 4;
}

.Yorder {
    flex: 2;
}

.title {
    /* background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
  background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
  background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
  border-radius:5px 5px 0 0 ; */
  background: rgb(115, 189, 227);
  background: linear-gradient(90deg, rgba(115, 189, 227, 1) 11%, rgba(128, 162, 210, 1) 34%, rgba(169, 219, 219, 1) 69%, rgba(65, 139, 212, 1) 89%, rgba(106, 189, 207, 1) 100%, rgba(145, 5, 47, 1) 100%);
  ;
    padding: 20px;
    color:black;
    text-align: center;
}

h2 {
    margin: 0;
    padding-left: 15px;
}

.required {
    color: red;
}

label,
table {
    display: block;
    margin: 15px;
}

label>span {
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    color: #888;
}

select {
    width: 70%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 10px;
    
}

.Yorder {
    margin-top: 15px;
    height: 600px;
    padding: 20px;
    border: 1px solid black;
    color: black;
}

table {
    margin: 0;
    padding: 0;
}

th {
    border-bottom: 1px solid black;
    padding: 10px 0;
    color: black;
}

tr>td:nth-child(1) {
    text-align: left;
    color: black;
}

tr>td:nth-child(2) {
    text-align: right;
    color: #52ad9c;
}

td {
    border-bottom: 1px solid black;
    padding: 25px 25px 25px 0;
    color: black;
}

p {
    display: block;
    color: black;
    margin: 0;
    padding-left: 25px;
}

.Yorder>div {
    padding: 15px 0;
}

.orderbtn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: rgb(115,189,227);
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.orderbtn:hover {
    cursor: pointer;
    background: white;
    color: #333
}

/* FOOTER CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

a {
  text-decoration: none;
}

.footer {
  position: relative;
  width: 100%;
  /* background: #3586ff; */
  background: rgb(115, 189, 227);
  background: linear-gradient(90deg, rgba(115, 189, 227, 1) 11%, rgba(128, 162, 210, 1) 34%, rgba(169, 219, 219, 1) 69%, rgba(65, 139, 212, 1) 89%, rgba(106, 189, 207, 1) 100%, rgba(145, 5, 47, 1) 100%);
  margin-top: 10 0px;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: black;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}


@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }

  100% {
    background-positon-x: 0px;
  }
}
